---
import HeaderLink from '@/components/HeaderLink.astro';
import '@/styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="@/lib/htmx.org.ts"></script>
  </head>
  <body hx-boost="true" class="flex flex-col min-h-screen bg-gray-200">
    <main class="flex-grow flex flex-col justify-center py-4">
      <slot />
    </main>
    <div class="bg-gray-300 h-1"></div>
    <footer class="px-2 py-8 text-gray-500 text-center">
      <p>
        <span class="font-bold">Stack: </span>Astro, HTMX, Tailwind, Turso DB
      </p>
      <p>Only server side rendering</p>
      <p>No Javascript on client side (except HTMX)</p>
      <p>Copyright &copy; Unibox {new Date().getFullYear()}</p>
    </footer>
    <script src="@/lib/app.ts"></script>
  </body>
</html>
